<div class="flyntComponent componentSpacing {{ options.theme }} {{ section.class }} {% if section.hidden %}hidden{% endif %}" id="{{ section.id }}" is="flynt-block-testimonial">

  <script type="application/json">{{ jsonData|json_encode }}</script>

	<div class="container centerMaxWidthContainer">

		<div class="section-title">
			<div class="lines">
				<span data-aos="animate" data-aos-delay="100" style="background-color:{{slash_color}}"></span>
				<span data-aos="animate" data-aos-delay="200" style="background-color:{{slash_color}}"></span>
			</div>
      			{% if title %}<h2 data-aos="animate" class="white" data-aos="fade-in">{{ title }}</h2>{% endif %}
      			{% if contentHtml %}<div class="content">{{ contentHtml }}</div>{% endif %}
		</div>
	</div>
	{# end title #}
		
	<div data-slider="data-slider" class="swiper">
		<div class="swiper-wrapper">
			{% if Testimonials %}
				{% for testimonial in Testimonials %}
					<div class="swiper-slide">
						<div class="author-image-wrap">
							<img class="author-image" src="{{ testimonial.image }}" alt="author">
						</div>
						<div class="content">
							<div class="testimonial-text">
							{{ testimonial.contentHtml }}
							</div>
							<div class="author-info">
								<div class="name">{{ testimonial.author }}</div>
								<div class="job">{{ testimonial.company }}</div>
							</div>
						</div>
					</div>

				{% endfor %}
			{% endif %}
		</div>
		<div class="swiper-navigation">
			<button data-slider-button="prev" class="swiper-button sb-prev"></button>
			<div class="s-pagination"></div>
			<button data-slider-button="next" class="swiper-button sb-next"></button>
		</div>

	</div>
</div>
