{% if items|length > 0 %}
	{% set defaultimg = Image(site.theme.link ~ '/assets/images/placeimage.png') | relative %}

	<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-grid-posts-latest">
		<div class="container centerMaxWidthContainer">
			{% if preContentHtml %}
				<div class="preContent">
					{{ preContentHtml|e('wp_kses_post') }}
				</div>
			{% endif %}
			{# <div class="grid grid--rows{{ options.rows }}">
			{% for item in items %} #}
			<ul class="grid grid--columns{{ columns }}">
				{% for item in items %}
					<li class="grid-item">
						<div class="img__wrap boxShadow themeReset">
									{% if item.thumbnail.src %}
							<img class="img__wrap-image lazyload" src="{{ item.thumbnail.src | resizeDynamic(424, 283) }}" srcset="{{ placeholderImage(400, 400) }}" data-srcset="
								{{ item.thumbnail.src|resizeDynamic(1920, 1280) }} 1920w,
								{{ item.thumbnail.src|resizeDynamic(1320, 880) }} 1320w,
								{{ item.thumbnail.src|resizeDynamic(1280, 853) }} 1280w,
								{{ item.thumbnail.src|resizeDynamic(1050, 700) }} 1050w,
								{{ item.thumbnail.src|resizeDynamic(750, 500) }} 750w,
								{{ item.thumbnail.src|resizeDynamic(600, 400) }} 600w,
								{{ item.thumbnail.src|resizeDynamic(424, 283) }} 424w,
								{{ item.thumbnail.src|resizeDynamic(312, 208) }} 312w" data-sizes="auto" alt="{{ item.thumbnail.alt|e }}">
								{% else %}
								<img class="img__wrap-image lazyload" src="{{ defaultimg | resizeDynamic(424, 283) }}" />
								{% endif %}
							<div class="img__description_layer">
								<div class="hoverText">
									<a href="{{ item.link }}" class="img__wrap-link" title="{{ item.title }}" target="_blank">
										<div class="img__wrap-inner boxPadding">
											<h3 class="img__wrap-title">{{ item.title }}</h3>
											<p class="img__wrap-excerpt">{{ item.preview.read_more(false).length(12) }}</p>
										</div>
									</a>
									<footer class="img__wrap-footer">
										<span class="img__wrap-readingTime">
											<i data-feather="clock"></i>
											{{ item.content | readingtime }}
											{{ labels.readingTime }}
										</span>
										<a href="{{ item.link }}" class="button button--link img__wrap-readMore" aria-hidden="true" tabindex="-1">{{ labels.readMore }}</a>
									</footer>
								</div>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="allPostsLink">
			<a href="{{ postTypeArchiveLink }}" class="button button--link">{{ labels.allPosts }}</a>
		</div>
	</div>
</div>{% endif %}
