{% if items|length > 0 %}
  <div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-grid-posts-latest-slider">
    <div class="container centerMaxWidthContainer">
      {% if preContentHtml %}
        <div class="preContent">
          {{ preContentHtml|e('wp_kses_post') }}
        </div>
      {% endif %}
      <ul class="grid grid--columns{{ options.columns }}">
        {% for item in items %}
          <li class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <a href="{{ item.link }}" class="content-link" title="{{ item.title }}">
                    <img class="content-image lazyload"
                         src="{{ item.thumbnail.src|resizeDynamic(400, 400) }}"
                         srcset="{{ placeholderImage(2, 2) }}"
                         data-srcset="
                    {{ item.thumbnail.src|resizeDynamic(1920, 1920) }} 1920w,
                    {{ item.thumbnail.src|resizeDynamic(1320, 1320) }} 1320w,
                    {{ item.thumbnail.src|resizeDynamic(1280, 1280) }} 1280w,
                    {{ item.thumbnail.src|resizeDynamic(1050, 1050) }} 1050w,
                    {{ item.thumbnail.src|resizeDynamic(750, 750) }} 750w,
                    {{ item.thumbnail.src|resizeDynamic(600, 600) }} 600w,
                    {{ item.thumbnail.src|resizeDynamic(424, 424) }} 424w,
                    {{ item.thumbnail.src|resizeDynamic(312, 312) }} 312w"
                         data-sizes="auto"
                         alt="{{ item.thumbnail.alt|e }}">
                  </a>
                </div>
                <div class="flip-card-back">
                  <h3 class="content-title">{{ item.title }}</h3>
                  <p class="content-excerpt">{{ item.preview.read_more(false).length(10) }}</p>
                  <a href="{{ item.link }}" class="button button--link content-readMore" aria-hidden="true" tabindex="-1">{{ labels.readMore }}</a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="allPostsLink">
        <a href="{{ postTypeArchiveLink }}" class="button button--link">{{ labels.allPosts }}</a>
      </div>
    </div>
  </div>
{% endif %}
