<div class="flyntComponent componentSpacing {{ options.theme }} {{ section.class }} {% if section.hidden %}hidden{% endif %}" id="{{ section.id }}" is="flynt-team-slider">

	<script type="application/json">{{ jsonData|json_encode }}</script>

	<div class="container centerMaxWidthContainer">

		<div class="section-title">
			{% if title %}
				<h3 data-aos="animate" class="white" data-aos="fade-in">{{ title }}</h3>
			{% endif %}
			{% if contentHtml %}
				<div class="content">{{ contentHtml }}</div>
			{% endif %}
		</div>
		<div data-slider="data-slider" class="swiper">
			<div class="swiper-wrapper">
				{% set i = 1 %}
				{% if relationship %}
					{% for item in relationship %}
						{% if i%2 == 1 %}
							<div class="swiper-slide odd">
							{% else %}
								<div class="swiper-slide even">
								{% endif %}
								{% set i = i + 1 %}
								<div class="author-wrap">
									<div class="author-image">
										<div class="image">
											<img class="" src="{{ item.thumbnail.src }}" alt="author">
										</div>
										<div class="icons">
											<a href="{{ item.twitter }}" target="_blank">
												<i class="fab fa-twitter"></i>
											</a>
											<a href="{{ item.linkedin }}" target="_blank">
												<i class="fab fa-linkedin"></i>
											</a>
										</div>
									</div>

									<div class="info">
										<h6 class="name">{{ item.title }}</h6>
										<span class="job">{{ item.company }}</span>
									</div>
								</div>
							</div>
						{% endfor %}
					{% endif %}
				</div>
				<button data-slider-button="prev" class="swiper-button sb-prev"><i class="fa-solid fa-chevron-left"></i></button>
				<button data-slider-button="next" class="swiper-button sb-next"><i class="fa-solid fa-chevron-right"></i></button>
			</div>
		</div>
	</div>
